* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#container {
	background-image: url(./images/f-smile.png);
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
}

.navbar{
	background-color: #88CC00;
}

.input-group{
	position: relative;
}

label{
	position:absolute;
	top: 0;
	left: 0;
	transform: translate(10px, 10px);
	transform-origin: left;
	transition: transform .25s;
}

#name{
	padding: 10px;
	border: none;
	border-radius: 4px;
	font: inherit;
	color: grey;
	background-color: transparent;
	outline: 2px solid black;
}

#email{
	padding: 10px;
	border: none;
	border-radius: 4px;
	font: inherit;
	color: grey;
	background-color: transparent;
	outline: 2px solid black;
}

.input-group:focus-within label {
	transform:
	translate(0, -30px) scale(.8);
	color: green;
}

.input-group:focus-within #email {
	outline-color: green;
}

.input-group{
	width: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.contact-form {
	margin: auto;
}

.div1 {
	float: right;
}

.div2 {
	float: left;
}


#about{
	background-color: #88CC00;
	border-radius: 4px;
	font-size: 20px;
	font-weight: bolder;
	padding-bottom: 15px;
	clip-path:
		polygon(
			0% 0%,
			100%, 0%,
			100%, calc(100% - 15px),
			0%, 100%
		);
}

#contact{
	background-color: white;
	border-radius: 4px;
}

button{
	padding: 10px;
	background-color: #88CC00;
	box-shadow: grey 4px 4px 0;
	border-radius: 8px;
	transition: transform 200ms, box-shadow 200ms;
}
button:active{
	transform: translate(4px) translateY(4px);
	box-shadow: #8c1 0 0 0;
}

.flex-row{
	justify-content: space-between;
}

#grey {
	color: grey;
}

#green{
	color:#88CC00;
}